.flex-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-div {
  width: 75%;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.6rem;
  border-radius: 12px;
}

.greeting-text {
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  margin-top: 3vh;
  letter-spacing: 0.2vw;
}

@media (max-width: 450px) {
  .greeting-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 340px) {
  .greeting-text {
    font-size: 0.6rem;
  }
}
